@model GradeModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Create Grade";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h4>Grade</h4>
    <hr />
    <div class="row">
        <div class="col-lg-6">
            <form asp-action="Create">
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="mb-3 row">
                    <label asp-for="Name" class="col-sm-2 col-form-label">Grade Name</label>
                    <div class="col-sm-10">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="mb-3 row">
                    <div class="offset-sm-2 col-sm-10">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        <button type="reset" class="btn btn-outline-primary">Reset</button>
                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
