@model GradeModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Grade Details";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Grade Details</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">Grade Name</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.Name)</dd>
                <dt class="col-sm-2">Student Count</dt>
                <dd class="col-sm-10">@Html.DisplayFor(model => model.StudentCountOutput)</dd>
            </dl>
        </div>
    </div>

    <div class="mt-3">
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.Id">Edit</a>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>
</div>
