@model CourseModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Course</h4>
<hr />
<div class="row">
    <div class="col-12">
        <form asp-action="Create">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Course Title</label>
                <div class="col-5">
                    <input asp-for="Course_Title" class="form-control" />
                    <span asp-validation-for="Course_Title" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Course Content</label>
                <div class="col-5">
                    <input asp-for="Course_Content" class="form-control" />
                    <span asp-validation-for="Course_Content" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-2 col-form-label">Students</label>
                <div class="col-5">
                    <select multiple asp-for="StudentIdsInput" class="form-select select2" asp-items="ViewBag.Student"></select>
                    <span asp-validation-for="StudentIdsInput" class="text-danger"></span>
                </div>
            </div>
            <div class="row mb-3">
                <div class="offset-2 col-5">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    &nbsp;&nbsp;
                    <button type="reset" class="btn btn-outline-secondary">Reset</button>
                    &nbsp;&nbsp;
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </div>
        </form>
    </div>
</div>
