@model StudentModel
@*Generated from Custom Template.*@
@*Model namespace using directive should be added to _ViewImports.cshtml.*@

@{
    ViewData["Title"] = "Edit";
}

<div class="container">
    <h1>@ViewData["Title"]</h1>

    <h4>Student</h4>
    <hr />
    <div class="row">
        <div class="col-lg-8">
            <form asp-action="Edit" class="needs-validation" novalidate>
                @Html.AntiForgeryToken()
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="mb-3">
                    <label asp-for="StudentName" class="form-label">Student Name</label>
                    <input asp-for="StudentName" class="form-control" required />
                    <span asp-validation-for="StudentName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" class="form-control" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="IsActive" class="form-check-label">Is Active</label>
                    <div class="form-check">
                        <input class="form-check-input" asp-for="IsActive" />
                        <label class="form-check-label" asp-for="IsActive">Active</label>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="GradeId" class="form-label">Grade</label>
                    <select asp-for="GradeId" class="form-select" asp-items="ViewBag.GradeId" required>
                        <option value="">-- Select --</option>
                    </select>
                    <span asp-validation-for="GradeId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">Save</button>
                    <button type="reset" class="btn btn-secondary">Reset</button>
                    <a asp-action="Index" class="btn btn-link text-decoration-none">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
